.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    height: 60px;
}

.header-left {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 10px;
    font-weight: 900;
}

.header-right {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    
}


li {
    list-style-type: none;
    display: inline;
    margin: 15px;
    

}

.section-two {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    height: 150px;
    padding: 160px;

}

.section-two-left {
    display: flex;
    flex-direction: column;
}

.section-two-right {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #E5E7EB;
    width: 550px;
    height: 120px;
    padding: 70px;
}

button {
    color: #F9FAF8;
    width: 80px;
    background-color: #3882F6;
    border-radius: 5px;

}
.subtext {
    font-size: 18px;
    color: #E5E7EB;
     
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.random {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
}

.image-section {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 10px;
    padding: 30px;
    
    

}

.quote-section {
    background-color: #E5E7EB;
    height: 120px;
    padding: 150px;
    font-size: 36px;
    font-style: italic;
    
}

img {
    border-radius: 25px;
    border: 3px solid #3882F6;
    width: 140px;
    height: auto;
     
}



.image-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.image-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-section4 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-section1 {
    margin: 60px;
}

.text-section2 {
    margin: 60px;
}

.text-section3 {
    margin: 60px;
}

.text-section4 {
    margin: 60px;
}
.quote-2 {
    font-weight: 700;
    text-align: end;
}

footer {
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 20px;
}

.CTA {
    display: flex;
    justify-content: center;
    margin: 75px;
    background-color: #3882F6;
    height: 100px;
    align-items: center;
}

.cta-left1 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 700;

}

.cta-left2 {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 20px;

}


