.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    height: 60px;
}

.header-left {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 10px;
    font-weight: 700;
}

.header-right {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    
}


li {
    list-style-type: none;
    display: inline;

}

.section-two {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    height: 150px;
    padding: 160px;

}

.section-two-left {
    display: flex;
    flex-direction: column;
}

.section-two-right {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #E5E7EB;
}

button {
    color: #F9FAF8;
    width: 60px;
    background-color: #3882F6;
    border-radius: 5px;
}
.subtext {
    font-size: 18px;
    color: #E5E7EB;
     
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

